site_name: Inteligencia Artificial y Big Data
site_url: https://aitor-medrano.github.io/iabd2223
use_directory_urls: false

nav:
  - "Inicio": "index.md"
  - "Sistemas de almacenamiento":
      - "sa/index.md"
      - "S18.- Almacenamiento de datos. NoSQL": "sa/01nosql.md"
      - "S19.- MongoDB": "sa/02mongo.md"
      - "S21.- Modelado de datos NoSQL": "sa/03modelado.md"
      - "S25.- Agregaciones": "sa/05agregaciones.md"
      - "S28.- Replicación y Particionado": "sa/06replicacion.md"
      - "S30.- MongoDB y Python": "sa/07pymongo.md"
  - "Ecosistema Hadoop":
      - "hadoop/index.md"
      - "S36.- Arquitecturas Big Data": "hadoop/01arq.md"
      - "S36.- Ingesta de datos": "hadoop/02etl.md"
      - "S38.- Hadoop": "hadoop/03hadoop.md"
      - "S39.- HDFS": "hadoop/04hdfs.md"
      - "S39.- Formatos de datos": "hadoop/04formatos.md"
      - "S43.- Sqoop y Flume": "hadoop/05flume.md"
      - "S45.- Hive": "hadoop/06hive.md"
  - "Datos en el cloud":
      - "cloud/index.md"
      - "S33.- Cloud": "cloud/01cloud.md"
      - "S33.- AWS": "cloud/02aws.md"
      - "S40.- S3": "cloud/03s3.md"
      - "S44.- EC2": "cloud/04computacion.md"
      - "S44.- EMR": "cloud/05emr.md"
      - "S46.- RDS y DynamoDB": "cloud/06datos.md"
      - "S46.- Athena": "cloud/07athena.md"
  - "Spark":
      - "spark/index.md"
      - "S56.- Ecosistema": "spark/01spark.md"
      - "S60.- RDD": "spark/01rdd.md"
      - "S62.- DataFrames API": "spark/02dataframeAPI.md"
      - "Agregaciones": "spark/02agregaciones.md"
      - "Spark Catalog": "spark/02catalog.md"
      - "Streaming": "spark/03streaming.md"
  - "Flujo de datos":
      - "dataflow/index.md"
      - "S69.- Airflow": "dataflow/01airflow.md"
      - "Kafka": "dataflow/02kafka.md"
      - "Nifi I": "dataflow/04nifi1.md"
      - "Nifi II": "dataflow/05nifi2.md"
  - "PIA FP": "https://aitor-medrano.github.io/pia2223/"

theme:
  language: es
  name: "material"
  favicon: "images/favicon.png"
  palette:
    - scheme: default
      primary: indigo
      accent: "light blue"
      toggle:
        icon: material/toggle-switch-off-outline
        name: Cambiar a modo noche
    - scheme: slate 
      primary: indigo
      accent: "light blue"
      toggle:
        icon: material/toggle-switch
        name: Cambiar a modo día
  font:
    text: Roboto
    code: Roboto Mono
  logo: "images/logoIABD3.png"
  features:
    - header.autohide
    - navigation.top
    - navigation.tracking
    - navigation.footer
    - navigation.indexes
    - content.code.annotate
    - announce.dismiss
    - toc.follow
    - content.code.copy

extra_css:
  - css/extra.css

extra:
  search:
    language: "es"
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/aitormedrano
    - icon: fontawesome/solid/envelope
      link: mailto:<a.medrano@edu.gva.es>
  consent:
    title: Consentimiento de cookie
    description: >-
      Esta página de apuntes utiliza cookies para reconocer las visitas, medir la efectividad de la documentación
      y averiguar si encuentras aquello que buscas o cómo has llegado a estos apuntes.
      Con tu consentimiento, me ayudas a mejorar estos materiales.

  analytics:
    provider: google
    property: G-MFP4QLMMV7
    feedback:
      title: <a href='https://ko-fi.com/T6T8GWT9N' title='Invítame a un café en ko-fi.com' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Invítame a un café en ko-fi.com' /></a>
      ratings:
        - icon: material/emoticon-happy-outline
          name: Me encantan estos apuntes
          data: 1
          note: >-
            Gracias por tu tiempo. Si quieres me puedes <a href='https://ko-fi.com/T6T8GWT9N'>invitar a un café en ko-fi</a>.
        - icon: material/emoticon-sad-outline
          name: Los apuntes son mejorables
          data: 0
          note: >-
            ¡Gracias por tu colaboración! Ayúdame a mejorar los apuntes enviándome un mail a <a href="mailto:a.medrano@edu.gva.es">a.medrano@edu.gva.es</a> con tus comentarios.

plugins:
  - search
  - social:
      cards: true
#  - git-revision-date-localized:
#      enable_creation_date: true

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg      
  - pymdownx.superfences
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - footnotes
  - meta
  - sane_lists
  - toc:
      permalink: true
      toc_depth: 3

copyright: 2022-2023 Aitor Medrano - Licencia CC BY-NC-SA
# docker run --name=mkdocs -v "C:\Users\Aitor\OneDrive - Conselleria d'Educació\2122\bigdata:/app" -w /app/doc -p 8000:8000 minidocks/mkdocs serve -a 0.0.0.0:8000 -t material
# docker run --name=mkdocs -v "C:\Users\Aitor\OneDrive - Conselleria d'Educació\2122\bigdata:/app" -w /app/mkdocs -p 8000:8000 minidocks/mkdocs serve -a 0.0.0.0:8000 -t material
